@import "font-settings.css";
@import "colour-palette.css";

body 
{
    background-color: var(--rice-white);
    font-family: "Rodin Pro B";
    color:var(--soft-black);
    padding-left: 3%;
    padding-right: 3%;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding-top: 3%;
    padding-bottom: 3%;
}

body::-webkit-scrollbar
{
    display: none;
}

/* #presentation
{
    display: flex;
    height: 95vh;
    width:100%;
    -webkit-user-select: none;
    user-select: none;
} */

#presentation-container{
    /* color: cyan; */
    display: flex;

    /* height: 100%;
    width: 100%; */

    flex-basis:100%;
    /* flex-direction: row; */
    flex-flow: row;
    flex-shrink: 1;

    flex-wrap: wrap;
}

@media screen and (width <= 768px) {
    #presentation
    {
        width:100%
    }

    #presentation-container{
        flex-flow: column;
        width: 100vw;
    }
}

#presentation-container .presentation-box
{
    flex-grow: 1;
}

.introduction
{
    padding-left: 10px;
    align-content: center;
    display:grid;
    grid-template: 
        "a" auto,
        "b" auto;
}

.introduction-content
{
    align-content: center;
}

/* #project
{
    display: flex;
    height: 95vh;
    width: 100%;
} */

.division-line
{
    height: 3px;
    display: flex;
    width:100%;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: var(--soft-black);

    /* animation-name:division-line-animation;
    animation-duration:5s;
    animation-iteration-count: infinite; */
}

.slide
{
    display: flex;
    height: 95vh;
    width: 100%;
}

.non-selectable
{
    -webkit-user-select: none;
    user-select: none;
}

@keyframes division-line-animation
{
    0%{
        transform: translateX(0px);
    }

    50%{
        transform: translateX(50px)
    }

    100%{
        transform: translateX(0px);
    }
}

#underline
{
    animation-name:underline-flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes underline-flash
{
    0%{
        visibility: visible;
    }
    
    50%{
        visibility: hidden;
    }

    100%{
        visibility: hidden;
    }
}
/* .project-scroll-container
{
    display: flex;
    gap: 20px;

    width: 100%;
    padding: 20px 5%;

    box-sizing: border-box;


    overflow-x: auto;
    overflow-y: hidden;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;



    scroll-snap-type: x mandatory;
    justify-content:space-around;
    /* width: 100%;
    height: fit-content;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    -webkit-overflow-scrolling: touch;
    
    background-color: white;
    scrollbar-width: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: unset;
    column-gap: 24px; 
}

.project-scroll-container::-webkit-scrollbar
{
    display: none;
}

.project-modal {
    margin: auto;

    padding: 2rem;
    background-color: var(--rice-white);
    border: 1px solid #dcd8c0;
    border-radius: 10px;

    color: #4d4a41;
    max-width: 1000px;
    width: 90%;
    height:90%;

    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-out;
    font-family: 'Courier New', Courier, monospace;

    padding-top:70px;
    padding-bottom:70px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.project-modal[open] {
    opacity: 1;
    transform: translateY(0);
}

.project-modal::backdrop {
    background-color: rgba(245, 245, 221, 0.4);

    backdrop-filter: blur(10px);
}

dialog:focus {
    outline: none;
} */

/*
.project-card
{
    display: flex;
    flex-direction: column;

    flex: 0 0 auto;

    width: 85vw;
    max-width: 350px;
    height: 450px;

    scroll-snap-align: center;

    border-radius: 18px;

    background-color: var(--soft-black);
    border: 3px solid #dcd8c0;

    padding: 30px;
    box-sizing: border-box;
    position:relative;
    overflow: hidden;
    color: var(--rice-white);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    /* border-radius:10px;
    background-color: black;
    min-height: 500px;
    min-width: 240px;

    display: inline-block;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 5%; 
}
*/
@media (min-width: 768px) {
    .project-card {
        width: 320px;
        height: 500px;
        scroll-snap-align: start;
    }
}

@media (min-width: 1068px) {
    .project-card {
        width: 400px;
        height: 550px;
    }
}

/* .project-card-button-wrapper
{
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.modal-close-button-wrapper
{
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.page
{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 3s ease-out,
                transform 2s ease-out;
}

.page.shown
{
    opacity: 1;
    transform: translateY(0px);
} */

